html, 
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.error {
  color: #f00;
  margin: 5px 0;
}
