.active-users {
  background: #fff;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  max-width: 500px;
  overflow-y: scroll;
  padding: 130px 30px 30px;
  top: 0;
  width: 100%;
  z-index: 1;
}