.active-users {
  background: #fff;
  box-sizing: border-box;
  position: fixed;
  height: calc(100% - 100px);
  margin: 100px 0 0;
  max-width: 500px;
  overflow-y: scroll;
  padding: 30px;
  top: 0;
  width: 100%;
  z-index: 1;
}