.chat-form {
  align-items: center;
  background: #eaeaea;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  max-width: 500px;
  padding: 0 30px;
  position: fixed;
  width: 100%;
}

.chat-form .message-input-box {
  box-sizing: border-box;
  flex: 1;
  height: 40px;
  padding: 10px;
}

.chat-form .send-button {
  box-sizing: border-box;
  height: 40px;
}