.login-form {
  display: flex;
  margin: 20px 0 0;
}

.login-form .username-input-box {
  box-sizing: border-box;
  flex: 1;
  height: 40px;
  padding: 10px;
}

.login-form .login-button {
  box-sizing: border-box;
  height: 40px;
  margin-left: 10px;
}